<div class="jumbotron">
  <h1>Directives Quiz</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h2>Instructions</h2>
  <ul>
    
            <li>if the quantity is below 10, add the <code>low-stock</code> <code>class</code> to this item</li>
            <li>if the quantity is below 5, display a message with the <code>class</code> <code>coming-soon</code> that tells the user more is on the way</li>
            <li>create a "Buy" button
              <ul>
                <li>give it the <code>class</code> <code>buyButton</code></li>
                <li>create a <code>buy</code> function in the legoStore controller that will increase the brick's quantity by one</li>
                <li>add a click handler to the button that will call the controller's <code>buy</code> function</li>
              </ul>
            </li>
            <li>create a "Return" button
              <ul>
                <li>give it the <code>class</code> <code>returnButton</code></li>
                <li>create a <code>return</code> function in the legoStore controller that will decrease the brick's 
                  quantity by one</li>
                <li>add a click handler to the button that will call the controller's <code>return</code> function</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
